name: Validate
permissions:
  contents: read

on:
  push: 
  pull_request:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  validate-hacs:
    runs-on: "ubuntu-latest"
    steps:
      - name: HACS validation
        uses: "hacs/action@main"
        with:
          category: "integration"
  validate:
    runs-on: "ubuntu-latest"
    steps:
        - uses: "actions/checkout@v6"
        - uses: "home-assistant/actions/hassfest@master"
  test:
    runs-on: "ubuntu-latest"
    steps:
        - uses: "actions/checkout@v6"
        - name: Set up Python
          uses: actions/setup-python@v5
          with:
            python-version: "3.14"
        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install pytest pytest-asyncio homeassistant pytest-homeassistant-custom-component victron_mqtt
        - name: Run tests
          run: pytest tests/
